<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />

<title>AppBuilder</title>

<script id="sap-ui-bootstrap"
	src="https://sapui5.hana.ondemand.com/1.56.7/resources/sap-ui-core.js"
	data-sap-ui-libs="sap.m" data-sap-ui-theme="sap_belize"
	data-sap-ui-compatVersion="edge" data-sap-ui-preload="async"
	data-sap-ui-resourceroots='{"sapui5in.appbuilder": "../ui/"}'>
	
</script>

<script>
	sap.ui.getCore().attachInit(function() {
		new sap.m.Shell({
			app : new sap.ui.core.ComponentContainer({
				height : "100%",
				id : "idComponentContainer",
				name : "sapui5in.appbuilder"
			}),
            appWidthLimited:false
		}).addStyleClass("mainShell").placeAt("content");
	});

	function Core(id) {
		return sap.ui.getCore().byId(id);
	}
</script>

<script type="text/javascript" src="../ui/underscore-min.js"></script>

</head>

<body class="sapUiBody" role="application">
	<div id="content"></div>
	<div id="overlayControl"></div>
</body>

</html>